<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UICTFontTextStyleTitle1</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Medium</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
	<key>UICTFontTextStyleTitle2</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Medium</string>
		<key>fontSize</key>
		<integer>18</integer>
	</dict>
	<key>UICTFontTextStyleTitle3</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Medium</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<key>UICTFontTextStyleHeadline</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Regular</string>
		<key>fontSize</key>
		<integer>30</integer>
	</dict>
	<key>UICTFontTextStyleSubhead</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Regular</string>
		<key>fontSize</key>
		<integer>20</integer>
	</dict>
	<key>UICTFontTextStyleBody</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Regular</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<key>UICTFontTextStyleCallout</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Regular</string>
		<key>fontSize</key>
		<integer>24</integer>
	</dict>
	<key>UICTFontTextStyleFootnote</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Regular</string>
		<key>fontSize</key>
		<integer>14</integer>
	</dict>
	<key>UICTFontTextStyleCaption1</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Regular</string>
		<key>fontSize</key>
		<integer>12</integer>
	</dict>
	<key>UICTFontTextStyleCaption2</key>
	<dict>
		<key>fontName</key>
		<string>WorkSans-Regular</string>
		<key>fontSize</key>
		<integer>11</integer>
	</dict>
</dict>
</plist>
